@using BlazorBay.Services
@using Microsoft.AspNetCore.Components.Authorization
@inject CartService CartService

<CascadingAuthenticationState>
    <CascadingValue Value="CartService">
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData"
                                    DefaultLayout="@typeof(MainLayout)"
                                    Context="authState">
                    <NotAuthorized>
                        @if (!authState.User.Identity?.IsAuthenticated ?? true)
                        {
                            <RedirectToLogin />
                        }
                        else
                        {
                            <LayoutView Layout="@typeof(MainLayout)">
                                <p class="text-danger p-3">You are not authorized to view this page.</p>
                            </LayoutView>
                        }
                    </NotAuthorized>
                </AuthorizeRouteView>
            </Found>
            <NotFound>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p>Sorry, page not found.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </CascadingValue>
</CascadingAuthenticationState>
